---
layout: default
page_id: courses
cover: /assets/images/videos.jpg
summary: Online courses at Lynda.com from instructor Ray Villalobos
---
<main class="container posts">
  <div class="row">
    <div class="col-12 col-md-9 posts" id="posts">
      {% assign sorted_items = site.data.courses | sort: 'date' | reverse %}
      {% for item in sorted_items limit: 30 %}
      {% assign itemIndex = forloop.index %}
      {% include items_main.html %}
      {% endfor %}
    </div>
    <sidebar class="col-md-3 d-none d-md-block sidebar">
      <div class="sidebar-title">Latest Articles</div>
      <div class="courses">
        {% assign sorted_items = site.posts | sort: 'date' | reverse %}
        {% for item in sorted_items limit: 30 %}
        {% assign itemIndex = forloop.index %}
        {% include items_sidebar.html %}
        {% endfor %}
      </div>
      <a href="/items" class="sidebar-link">all Courses</a>
    </sidebar>
  </div>
</main>