---
layout: default
page_id: courses
cover: /assets/images/videos.jpg
summary: Online courses at Lynda.com from instructor Ray Villalobos
---
<main class="post-list content" role="main">
   {% assign sorted_courses = site.data.courselist | sort: 'release_date' | reverse %}
    {% for course in sorted_courses %}
    <article class="post-item">
      <div class="post-meta">
        <span class="post-date">
          {{ course.release_date | date: '%B %-d, %Y' }}
        </span>
      </div><!-- post-meta -->
            <h2 class="post-title"><a href="{{ course.URLs.LI }}" target="_blank">{{ course.title }}</a></h2>
            <section class="post-description">
              <a href="{{ course.URLs.LI }}"><img class="img-fluid post-img" src="{{ course.images.thumb }}" alt="Thumbnail for {{ course.title }}"></a><span class="list-description">{{ course.summary | strip_html | truncatewords: 50 }}</span>
            </section>
            {% include post_links.html %}
      </article>
    {% endfor %}

    {% if paginator.next_page %}
    <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href="/page{{paginator.next_page}}"><i class="fsa fa-arrow-circle-left"></i></a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href="/"><i class="fas fa-arrow-circle-right"></i></a>
        {% else %}
          <a class="older-posts" href="/page{{paginator.previous_page}}"><i class="fsa fa-arrow-circle-right"></i></a>
        {% endif %}
      {% endif %}
    </nav>
    {% endif %}
</main>