---
layout: layouts/base.njk
---

{% if carousel.items %}
  {% include "includes/header-carousel.njk" %}
{% elif hero %}
<header id="page-hero" class="site-header position-relative {% if not hero %}mt-5 pt-5{% endif %} site-header" style="width: 100vw; min-height: {{(headerHeight) if headerHeight else '50vh'}};">
<section class="layout-hero position-absolute d-flex align-items-center" {% if hero %} style="background-image: linear-gradient(rgba(0, 0, 0, .7) 50px, transparent), url({{ hero }}); height: 100%; width: 100%; filter: blur({{(blur) if blur else '0'}});" {% endif %}></section>
<div class="layout-hero-content position-absolute d-flex align-items-center" style="height: 100%; width: 100%;">
<div class=" d-flex align-items-center" style="width: 100%; height: 10px;">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="header-content col-11 col-sm-10 col-md-9">
        <img class="animated fadeInDownBig"  style="height: 20vw; max-height: 150px;" src="/images/logos/powship-logo-bluedot.svg" />
        <h1 class="text-white animated fadeInUpBig">raybo.org</h1>
      </div>
    </div>
  </div>
</div>
</div>
</header>
{% endif %}


<article id="main-content" class="page-home site-main container"
{% if carousel.items==null and hero==null%}style="padding-top: 60px;"{%endif%}
>
{{ content | safe }}
</article>
