---
layout: default
---

<main class="post-list content" role="main">
    {% for post in paginator.posts %}
      {% for course in site.data.courselist %}
      {% if course.ID == post.courseid %}
      <article class="post-item">
        <div class="post-meta">
          <span class="post-category">
          {% if post.categories %}

            {% case categories %}
              {% when 'courses' %}
              <i class="fa fa-file-text"></i>
              {% else %}
              <i class="fa fa-graduation-cap"></i>
            {% endcase %}

          {{ post.categories }}
          {% endif %}</span>
          <span class="post-date"><time datetime="{{ post.date | date: '%B %-d, %Y' }}">{{ post.date | date: '%B %-d, %Y' }}</time></span>
        </div>
        <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ course.Title }}</a></h2>
        <section class="post-description" itemprop="description">
          <a href="{{ post.url }}" itemprop="url"><img class="list-thumb" src="{{ course.Thumbnails[10].FullURL }}" alt="Thumbnail for {{ course.Title }}"></a><span class="list-description">{{ course.ShortDescription | strip_html | truncatewords: 50 }}</span>
        </section>
      </article>
      {% endif %}
      {% endfor %}
    {% endfor %}

    <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href="/page{{paginator.next_page}}"><i class="fa fa-arrow-circle-o-left"></i></a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href="/"><i class="fa fa-arrow-circle-o-right"></i></a>
        {% else %}
          <a class="older-posts" href="/page{{paginator.previous_page}}"><i class="fa fa-arrow-circle-o-right"></i></a>
        {% endif %}
      {% endif %}
    </nav>

</main>
