---
layout: layouts/page.njk
hero: /images/backgrounds/code.jpg
tags:
  - nav
pagination:
  data: collections.courses
  size: 10
navtitle: Courses
iconclass: fas fa-graduation-cap
permalink: /courses/{{pagination.pageNumber}}/
---
{% include "includes/pagination.njk" %}
{%- for item in pagination.items %}
  {% include "includes/items.njk" %}
{% endfor -%}
{% include "includes/pagination.njk" %}

