<!DOCTYPE html>
<html ng-app="searchApp">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Raybo.org</title>
  <meta name="description" content="The website for Ray Villalobos, helping improve lives by teaching front-end web skills with a clear, practical style.">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link rel="canonical" href="http://raybo.org/">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="/assets/js/search.js"></script>

  <link rel="stylesheet" media="screen" href="/css/main.css">
  <link rel="stylesheet" media="print" href="/css/print.css">

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@planetoftheweb">
  <meta name="twitter:title" content="Raybo.org">
  <meta name="twitter:description" content="The website for Ray Villalobos, helping improve lives by teaching front-end web skills with a clear, practical style.">  
  <meta name="twitter:image:src" content="">
  <meta name="twitter:player" content="">

  <!-- Facebook Meta Data -->
  <meta property="og:title" content="Raybo.org">
  <meta property="og:description" content="The website for Ray Villalobos, helping improve lives by teaching front-end web skills with a clear, practical style.">  
  <meta property="og:url" content="http://raybo.org">
  <meta property="og:image" content="/assets/images/codemobile.jpg">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="Raybo.org">
  <meta property="og:video" content="">

</head>
<body class="default home">
<header class="header">
  <div class="header-background" style="background-image: url(/assets/images/codemobile.jpg)"></div>
</header>
<section class="header-info">
  
    <a class="header-logo" href="/" style="background-image: url('/assets/images/powship.png')"></a>
  
  <div class="navgroup">
    <h1 class="header-title">Raybo.org</h1>
    <nav class="main">
	<div class="navwrapper">
    
    <h2 class="header-tagline">Learn practical web skills</h2>
    
		<ul>
      

    	
        
          <li >
            <a href="/courses">
              
                <i class="fa fa-graduation-cap"></i>
                
        	    <span class="categorytext courses">courses</span>
            </a>
          </li>
    	
        
          <li >
            <a href="/blog">
              
                <i class="fa fa-file-text"></i>
                
        	    <span class="categorytext blog">blog</span>
            </a>
          </li>
    	
        
          <li >
            <a href="/talks">
              
                <i class="fa fa-bullhorn"></i>
                
        	    <span class="categorytext talks">talks</span>
            </a>
          </li>
    	
		</ul>
    <div class="sitesearch"  ng-controller="searchControllers">
  <div class="searchbox">
    <form name="search" id="searchform">
        <div class="input-group">
          <input id="searchbox" placeholder="Search" ng-model="query" tabindex="1">
    	    <label for="searchbox"><i class="fa fa-search"></i></label>
        </div><!-- input-group -->
     </form>
  </div><!-- searchbox -->
   <div class="search-results" ng-show="query">
    <b class="notch"></b>
    <ul class="searchlist">
      <li ng-animate="'animate'" class="search" ng-repeat="thing in results | filter: query">
        <a href="{{thing.link}}">
          <img ng-src="{{thing.thumbnail}}" alt="{{thing.title}} Thumbnail">
          <div class="info">
            <h2>{{thing.title}}</h2>
            <p>{{thing.summary}}</p>
          </div><!-- info -->
        </a>
      </li>
    </ul>
  </div><!-- search-results -->
</div><!-- sitesearch -->

	</div>
</nav>

  </div>
  <p class="header-description">The website for Ray Villalobos, helping improve lives by teaching front-end web skills with a clear, practical style.</p>
	
</section><!-- post-meta -->

<main class="post-list content" role="main">
    
    <article class="post-item">
      <div class="post-meta">
        
  



<span class="category">

<a href="/courses">
  
    <i class="fa fa-graduation-cap"></i>
    
  courses
</a>
</span>

        <span class="post-date">
        
          November 10, 2015
        
        </span>
      </div><!-- post-meta -->
      
        
          
        
          
            <h2 class="post-title"><a href="/courses/2015/11/10/AngularJS-Form-Validation.html">AngularJS: Form Validation</a></h2>
            <section class="post-description">
              <a href="/courses/2015/11/10/AngularJS-Form-Validation.html"><img class="list-thumb" src="https://cdn.lynda.com/courses/438886-635827439080742024_88x158_thumb.jpg" alt="Thumbnail for AngularJS: Form Validation"></a><span class="list-description">Learn how to implement dynamic form validation on any HTML form using the built-in validation properties and methods in AngularJS.</span>
            </section>
            <nav class="post-links">
<ul>

  
  <li><a href="/courses/2015/11/10/AngularJS-Form-Validation.html"><i class="fa fa-arrow-circle-right"></i> read more</a></li>
  

  
  <li><a href="http://www.lynda.com/AngularJS-tutorials/AngularJS-Form-Validation/438886-2.html" target="_blank"><i class="fa fa-eye"></i> watch on lynda.com</a></li>
  

  

  


  


  
  <li><a href="https://github.com/planetoftheweb/angularformvalidation" target="_blank"><i class="fa fa-github-alt"></i> github project</a></li>
  


  


  


</ul>
</nav><!-- custom-links -->
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
      <!-- Is it a course or something else -->
      </article>
    
    <article class="post-item">
      <div class="post-meta">
        
  



<span class="category">

<a href="/courses">
  
    <i class="fa fa-graduation-cap"></i>
    
  courses
</a>
</span>

        <span class="post-date">
        
          November 10, 2015
        
        </span>
      </div><!-- post-meta -->
      
        
          
            <h2 class="post-title"><a href="/courses/2015/11/10/AngularJS-Adding-Registration-to-Your-Application.html">AngularJS: Adding Registration to Your Application</a></h2>
            <section class="post-description">
              <a href="/courses/2015/11/10/AngularJS-Adding-Registration-to-Your-Application.html"><img class="list-thumb" src="https://cdn.lynda.com/courses/438887-635827438390248957_88x158_thumb.jpg" alt="Thumbnail for AngularJS: Adding Registration to Your Application"></a><span class="list-description">Create a simple registration system that allows users to log in and out of your applications, with AngularJS and Firebase.</span>
            </section>
            <nav class="post-links">
<ul>

  
  <li><a href="/courses/2015/11/10/AngularJS-Adding-Registration-to-Your-Application.html"><i class="fa fa-arrow-circle-right"></i> read more</a></li>
  

  
  <li><a href="http://www.lynda.com/AngularJS-tutorials/AngularJS-Adding-Registration-Your-Application/438887-2.html" target="_blank"><i class="fa fa-eye"></i> watch on lynda.com</a></li>
  

  

  


  


  
  <li><a href="https://github.com/planetoftheweb/angularregistration" target="_blank"><i class="fa fa-github-alt"></i> github project</a></li>
  


  


  


</ul>
</nav><!-- custom-links -->
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
      <!-- Is it a course or something else -->
      </article>
    
    <article class="post-item">
      <div class="post-meta">
        
  



<span class="category">

<a href="/courses">
  
    <i class="fa fa-graduation-cap"></i>
    
  courses
</a>
</span>

        <span class="post-date">
        
          October 6, 2015
        
        </span>
      </div><!-- post-meta -->
      
        
          
        
          
        
          
        
          
            <h2 class="post-title"><a href="/courses/2015/10/06/Sass-Essential-Training.html">Sass Essential Training</a></h2>
            <section class="post-description">
              <a href="/courses/2015/10/06/Sass-Essential-Training.html"><img class="list-thumb" src="https://cdn.lynda.com/courses/375925-635797211412111970_88x158_thumb.jpg" alt="Thumbnail for Sass Essential Training"></a><span class="list-description">Learn the fundamentals of Syntactically Awesome Stylesheets (Sass), a modern web development language that helps you write CSS better, faster, and with more advanced features.</span>
            </section>
            <nav class="post-links">
<ul>

  
  <li><a href="/courses/2015/10/06/Sass-Essential-Training.html"><i class="fa fa-arrow-circle-right"></i> read more</a></li>
  

  
  <li><a href="http://www.lynda.com/Sass-tutorials/Sass-Essential-Training/375925-2.html" target="_blank"><i class="fa fa-eye"></i> watch on lynda.com</a></li>
  

  

  


  


  
  <li><a href="https://github.com/planetoftheweb/sassEssentials" target="_blank"><i class="fa fa-github-alt"></i> github project</a></li>
  


  


  


</ul>
</nav><!-- custom-links -->
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
      <!-- Is it a course or something else -->
      </article>
    
    <article class="post-item">
      <div class="post-meta">
        
  



<span class="category">

<a href="/courses">
  
    <i class="fa fa-graduation-cap"></i>
    
  courses
</a>
</span>

        <span class="post-date">
        
          August 26, 2015
        
        </span>
      </div><!-- post-meta -->
      
        
          
        
          
        
          
            <h2 class="post-title"><a href="/courses/2015/08/26/Bootstrap-3-Essential-Training.html">Bootstrap 3 Essential Training</a></h2>
            <section class="post-description">
              <a href="/courses/2015/08/26/Bootstrap-3-Essential-Training.html"><img class="list-thumb" src="https://cdn.lynda.com/courses/417641-635760301871294629_125x224_thumb.jpg" alt="Thumbnail for Bootstrap 3 Essential Training"></a><span class="list-description">Everything you need to know to get started building responsive, accessible, mobile-first websites with Bootstrap 3.</span>
            </section>
            <nav class="post-links">
<ul>

  
  <li><a href="/courses/2015/08/26/Bootstrap-3-Essential-Training.html"><i class="fa fa-arrow-circle-right"></i> read more</a></li>
  

  
  <li><a href="http://www.lynda.com/Bootstrap-tutorials/Bootstrap-3-Essential-Training/417641-2.html" target="_blank"><i class="fa fa-eye"></i> watch on lynda.com</a></li>
  

  

  


  


  
  <li><a href="https://github.com/planetoftheweb/bootstrap" target="_blank"><i class="fa fa-github-alt"></i> github project</a></li>
  


  


  


</ul>
</nav><!-- custom-links -->
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
      <!-- Is it a course or something else -->
      </article>
    
    <article class="post-item">
      <div class="post-meta">
        
  



<span class="category">

<a href="/blog">
  
    <i class="fa fa-file-text"></i>
    
  blog
</a>
</span>

        <span class="post-date">
        
          August 13, 2015
        
        </span>
      </div><!-- post-meta -->
      
        <h2 class="post-title"><a href="/blog/2015/08/13/Getting-the-Right-Social-Media-Followers.html">Getting the Right Social Media Followers</a></h2>
        <section class="post-description">
          <a href="/blog/2015/08/13/Getting-the-Right-Social-Media-Followers.html"><img class="list-thumb" src="http://i.imgur.com/TpTkDW9.png" alt=" thumbnail"></a><span class="list-description">Everyone talks about getting a lot of followers in social media, but what does that really mean? And why is it even important? Well everyone is wrong, I'm much happier when I focus on getting the right type of followers.</span>
        </section>
        <nav class="post-links">
<ul>

  
  <li><a href="/blog/2015/08/13/Getting-the-Right-Social-Media-Followers.html"><i class="fa fa-arrow-circle-right"></i> read more</a></li>
  

  

  

  


  


  


  


  


</ul>
</nav><!-- custom-links -->
      <!-- Is it a course or something else -->
      </article>
    
    <nav class="pagination" role="navigation">
      
        <a class="newer-posts" href="/page2"><i class="fa fa-arrow-circle-o-left"></i></a>
      
      <span class="page-number">Page 1 of 9</span>
      
    </nav>
</main>

<footer class="site-footer">
  <!-- bottom-teaser -->
<div class="bottom-info">

<!-- Author Credits -->
<section class="author-info credits">
  <h5 class="author-headline"><span>Written by</span></h5>
  <div class="author">
    <a href="/about/"><div class="author-image" style="background-image: url(/assets/images/author.jpg)"></div></a>
    <div class="author-text">
      <h4 class="author-name"><a href="/about/">Ray Villalobos</a></h4>
      <div class="author-bio">Christian. Father of 8. I love to help people improve their lives by learning front-end design and full stack development skills with a clear, practical approach.</div>
    </div><!-- author-text -->
  </div><!-- author -->
</section><!-- class="credits" -->

<!-- Author Credits -->
<section class="author-info social">
  <h5 class="author-headline"><span>Follow me</span></h5>
  <div class="links custom-links">

    <a class="icon icon-twitter" href="https://twitter.com/planetoftheweb"><i class="fa fa-twitter"></i></a>

    <a class="icon icon-facebook" href="https://facebook.com/viewsource"><i class="fa fa-facebook"></i></a>

    <a class="icon icon-linkedin" href="https://linkedin.com/in/planetoftheweb"><i class="fa fa-linkedin"></i></a>

    <a class="icon icon-github" href="https://github.com/planetoftheweb"><i class="fa fa-github"></i></a>

    <a class="icon icon-google-plus" href="https://plus.google.com/+RayVillalobos0"><i class="fa fa-google-plus"></i></a>

    <a class="icon icon-dribbble" href="https://dribbble.com/planetoftheweb"><i class="fa fa-dribbble"></i></a>

    <a class="icon icon-flickr" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/"><i class="fa fa-flickr"></i></a>

    <a class="icon icon-youtube" href="https://www.youtube.com/user/planetoftheweb"><i class="fa fa-youtube"></i></a>

  </div>

  <div class="links feed"><a class="subscribe" href="/feed.xml"><i class="fa fa-rss"></i> Subscribe to my feed</a></div>
  <div class="links about"><a href="/about/"><i class="fa fa-user"></i> About Ray</a></div>

</section><!-- class="isRight" -->
</div><!-- bottom-info -->


<a href="/about/"><div class="footer-image"  style="background-image: url(/assets/images/hero.jpg)"></div></a>


</footer>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>
<script type="text/javascript" src="/assets/js/prefixfree.min.js"></script>
</body>
</html>
