<!-- bottom-teaser -->
<div class="bottom-info">

<!-- Author Credits -->
<section class="author-info credits">
  <h5 class="author-headline"><span>Written by</span></h5>
  <div class="author">
    <a href="/about/"><div class="author-image" style="background-image: url({{site.author_image}})"></div></a>
    <div class="author-text">
      <h4 class="author-name"><a href="/about/">{{ site.author.name }}</a></h4>
      <div class="author-bio">{{ site.author.bio }}</div>
    </div><!-- author-text -->
  </div><!-- author -->
</section><!-- class="credits" -->

<!-- Author Credits -->
<section class="author-info social">
  <h5 class="author-headline"><span>Follow me</span></h5>
  <div class="links custom-links">
{% for social in site.social %}{% if social.url %}
    <a class="icon icon-{{ social.icon }}" href="{{ social.url }}"><i class="fa fa-{{ social.icon }}"></i></a>
{% endif %}{% endfor %}
  </div>

  <div class="links feed"><a class="subscribe" href="/feed.xml"><i class="fa fa-rss"></i> Subscribe to my feed</a></div>
  <div class="links about"><a href="/about/"><i class="fa fa-user"></i> About {{ site.author.firstname }}</a></div>

</section><!-- class="isRight" -->
</div><!-- bottom-info -->

{% if (page.page_id != 'about') %}
<a href="/about/"><div class="footer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}></div></a>
{% endif %}
