  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title  | strip_html }}{% else %}{{ site.title | strip_html }}{% endif %}</title>
  <meta name="description" content="{{ site.description  | strip_html }}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" media="screen" href="{{ "/css/main.css"  | prepend: site.baseurl  }}" />
  <link rel="stylesheet" media="print" href="{{ "/css/print.css"  | prepend: site.baseurl  }}" />
