<header class="header">
  <div class="header-background" style="background-image: url({% if page.cover %}{{ page.cover }}{% elsif site.cover %}{{ site.cover }}{% endif %})"></div>
</header>
<section class="header-info">
  {% if site.logo %}
    <a class="header-logo" href="/" style="background-image: url('{{ site.logo }}')"></a>
  {% endif %}
  <h1 class="header-title">{{ site.title }}{% if page.page_id != 'home' %}<span class="pageid">{{page.page_id}}</span></h1>{% endif %}
	{% if (page.page_id == 'home') %}<h2 class="header-description">{{ site.description }}</h2>{% endif %}
	{% include categorynav.html %}
	
</section><!-- post-meta -->
