---
layout: layouts/page.njk
hero: /images/backgrounds/keyboard.jpg
tags:
  - nav
iconclass: far fa-file-alt
pagination:
  data: collections.posts
  size: 10
navtitle: Posts
permalink: /posts/{{pagination.pageNumber}}/
---

{% include "includes/pagination.njk" %}

{%- for item in pagination.items %}
  {% set defaultURL = '' %}
  {% if item.data.links[0] %}
    {% for name, link in item.data.links[0] %}
      {% set defaultURL = link %}
    {% endfor %}
  {% else %}
      {% set defaultURL = item.url %}
  {% endif %}

  {% include "includes/items.njk" %}

{% endfor -%}

{% include "includes/pagination.njk" %}

