.cf
  @include clearfix

$rs: 16px
$reading-width: 700px
$preview-height: 400px

$font-serif: Merriweather, serif
$font-sans: 'Open Sans', sans-serif
$font-alternate: 'Bree Serif', serif

$orange: #E76C5A
$blue: #145A6D
$yellow: #EEC856
$gray: #586D74
$darkorange: darken($orange, 15%)
$darkerorange: darken($orange, 20%)

$light: lighten($blue, 20%)
$medium: lighten($blue, 10%)
$dark: darken($blue, 30%)

$links: $gray
$hover: $darkerorange
$icon_color: $orange
$icon_links: $orange

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

%vertical-rhythm
  margin-bottom: $rs

html
  font-size: 62.5%
  -webkit-font-smoothing: antialiased !important

body
  font-family: $font-serif
  font-size: 14px
  font-size: 2rem
  line-height: 170%
  font-weight: 300
  color: #666

a
  color: $links
  text-decoration: none
  &:hover
    color: $hover
  &:visited
    color: $darkerorange


.center-block
  display: block
  margin-left: auto
  margin-right: auto

.pull-right
  float: right !important

.pull-left
  float: left !important

.hide
  display: none !important

.show
  display: block !important

.invisible
  visibility: hidden

.text-hide
  font: 0/0 a
  color: transparent
  text-shadow: none
  background-color: transparent
  border: 0

.hidden
  display: none !important
  visibility: hidden !important

.affix
  position: fixed
