.cf
  @include clearfix

$rs: 16px
$reading-width: 700px
$preview-height: 400px

$font-serif: Merriweather, serif
$font-sans: 'Open Sans', sans-serif
$font-alternate: 'Bree Serif', serif


$orange: #E76C5A
$blue: #145A6D
$yellow: #EEC856
$gray: #586D74
$darkorange: darken($orange, 15%)
$darkerorange: darken($orange, 20%)

$light: lighten($blue, 40%)
$medium: lighten($blue, 10%)
$dark: darken($blue, 30%)

$links: $gray
$hover: $darkerorange
$icon_color: $orange
$icon_links: $orange

@mixin respond-to($breakpoint)
  @media only screen and (max-width: $breakpoint + px)
    @content

%vertical-rhythm
  margin-bottom: $rs

html
  font-size: 62.5%
  -webkit-font-smoothing: antialiased !important

body
  font-family: $font-serif
  font-size: 14px
  font-size: 2rem 
  line-height: 170%
  font-weight: 300
  color: #666

a
  color: $links
  text-decoration: none
  &:hover
    color: $hover
  &:visited
    color: $darkerorange


.navgroup
  margin-top: 10px
  margin-bottom: 0
  padding-top: 5px
  padding-bottom: 5px
  padding-left: 1%
  padding-right: 1%
  max-width: 900px
  margin: 0 auto
  border-top: 1px dotted $gray
  border-bottom: 1px dotted $gray
  margin-bottom: 10px
  margin-top: 10px
  @include respond-to(620)
    border-top: none
    border-bottom: none


  .header-tagline
    @include respond-to(620)
      width: 100%

nav.main
  @include clearfix
  font-family: $font-sans
  font-size: 1.5rem
  font-weight: bold
  @include respond-to(620)
    display: table
    margin: 0 auto
  .default & .navwrapper
    float: right
    text-align: right
  ul
    @include clearfix
    margin: 0
    padding: 0
    li
      &.active
        font-size: 2rem
        a
          color: darken($medium, 10%)
      .home &
        font-size: 2rem

      float: left
      border-right: 1px dotted darken($yellow, 10%)
      &:last-child
        border-right: none
      a
        line-height: 20px
        color: $orange
        padding: 6px 8px
        .home &
          padding: 6px 8px
        .categorytext.home:after
          content: '\00a0'
          display: inline-block
          font-size: 0
          width: 0

        &:hover
          background: lighten($yellow, 20%)
          color: darken($orange, 10%)

