.floating-logo
  position: fixed
  left: 10px
  top: 10px
  width: $rs*3
  height: $rs*3
  overflow: hidden
  z-index: 200
  opacity: .9
  border: 10px solid rgba(255,255,255,.2)
  border-radius: 100%
  .logo
    display: block
    position: absolute
    top: 0
    left: 0
    width: $rs*3
    height: $rs*3
    background-size: cover
    background-repeat: no-repeat

.header
  @include box-sizing(border-box)
  height: $preview-height
  width: 100%
  color: #fff
  font-weight: 100
  position: relative
  font-family: $font-sans
  font-style: normal
  font-size: .8em
  line-height: 130%
  position: relative
  overflow: hidden
  bottom: $rs
  @include respond-to(800)
    height: 200px
    margin-bottom: 0
  .default &
    overflow: show
    text-align: center
    height: 600px
    top: 0
    left: 0
    right: 0
    @include respond-to(800)
      height: 400px

  .post &
    @include background-image( linear-gradient(to left, #D14348, #72A65C) )

  .custom-links
    padding-top: 10px

  .header-background
    background-color: #041D24
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0 
    background-size: cover
    background-position: center
    .default &
      bottom: $rs + 220
      @include respond-to(800)
        bottom: $rs + 120
    .post &
      @include filter(blur(10px))
      opacity: .4
      margin: -15px -15px -5px -15px

  .header-info
    @include box-sizing(border-box)
    position: absolute
    bottom: $rs*5
    left: 25%
    right: 25%
    @include respond-to(800)
      bottom: 0
    .default &
      bottom: 5%
      @include respond-to(800)
        bottom: 0
        left: 0
        right: 0

    .header-logo
      display: inline-block
      width: 120px
      height: 120px
      right: 50%
      background-size: cover
      border-radius: 50%
      z-index: 1
      text-indent: -9999px
      border: 6px solid #fff

    .post-text-group
      @include respond-to(800)
        display: none

    .header-description
      .default &
        font-family: $font-serif
        font-size: 1.8rem
        max-width: 540px
        margin: 0 auto
        line-height: 1.5
        color: #666
        font-weight: 300
        @include respond-to(800)
          display: none

    .header-title
      color: #FFCF4E
      margin: 0
      padding: 0
      font-weight: normal
      font-size: 5.5rem
      line-height: 100%
      margin-bottom: 16px
      @include respond-to(800)
        font-size: 3.5rem
      .default &
        color: #333
        font-weight: 700
        letter-spacing: -3px

    .author-image
      display: inline-block
      width: 60px
      height: 60px
      margin-right: 8px
      float: left
      background-size: cover
      border-radius: 100%

    .author-name
      padding-top: 5px
      font-weight: 700
      a
        text-decoration: none
        color: #FFF

