.content
  width: 100%
  max-width: $reading-width
  margin: 0 auto
  @include box-sizing(border-box)
  @include respond-to(800)
    padding: 0 $rs*2
    font-size: 2rem
    line-height: 140%

  .post-video
    padding-bottom: 50px
    @include respond-to(800)
    .video
      width: 100%
      height: 400px
      @include respond-to(800)
        height: 275px


.post-list
  .post-item
    padding: 60px 0
    @include respond-to(600)
      padding: 20px 0
    
    .post-meta
      font-family: $font-sans
      font-size: 1.5rem
      line-height: 100%
      .post-category
        font-weight: bold
        color: #E76C5A
      .post-date
        &:before
          content: " | "
  
    .post-title
      font-family: $font-alternate
      font-weight: normal
      font-style: normal
      line-height: 120%
      padding-bottom: 10px
      font-size: 2.8rem
      line-height: 1.1
      a
        color: #145A6D
        text-decoration: none
        &:hover
          color: #E76C5A
    .post-description
      font-size: 1.9rem
      line-height: 150%

    .list-thumb
      display: block
      float: left
      width: 30%
      min-width: 160px
      margin-right: 2%
      border-radius: 10px

.links
  margin-bottom: 8px

.custom-links
  display: inline-block
  padding: 0 16px 0 0
  font-size: 1.7rem

  a
    text-decoration: none
    display: inline-block
    padding: 0 15px
    header &
      @include respond-to(800)
        font-size: 1.7rem
        padding: 0 12px

    footer &
      font-size: 1.2rem
      padding: 0 8px
      @include respond-to(800)
        font-size: 1.7rem
        padding: 0 15px
      @include respond-to(400)
        font-size: 1.7rem
        padding: 0 8px

    color: #666
    &:hover
      color: #C4226F

.pagination
  text-align: center
  font-family: $font-sans
  font-size: 2.5rem
  font-weight: 700
  a
    color: #666
    &:hover
      color: #C4226F
  .page-number
    display: inline-block
    padding: 0 10px
    font-size: 1.2rem
    top: -20rem
    vertical-align: top

