---
category: talks
---
<!DOCTYPE html>
<html ng-app="searchApp">
<head>
  {% include head.html %}
</head>
<body class="post">

<a href="{{ site.url }}" class="floating-logo">
  <span class="logo" style="background-image: url({{ site.logo }})"></span>
</a>
<header class="header">
{% include header_posts.html %}
</header>
<main class="content" role="main">
	{% include breadcrumbs.html %}
  {% include post_links.html %}
  <div class="course-description">{{ course.summary }}</div>
  <div class="content">{{ content }}</div>
  {% include post_tags.html %}
</section><!-- post-content -->
</main><!-- main class="content" -->

<footer class="site-footer">
  {% include footer.html %}
</footer>

{% include scriptloader.html %}
</body>
</html>
