---
layout: base.njk
headerHeight: 50vh
carousel:
  fade: true
eleventyNavigation:
  key: main
---

{% set postslist = collections.posts | head(11) %}
{% set courselist = collections.courses | head(6) %}
{% set carouselPosts = collections.posts | head(3) %}

{% include "header-carousel-posts.njk" %}

<article id="main-content" class="page-home site-main container"
{% if carouselPosts==null and hero==null%}style="padding-top: 60px"{%endif%}
>
<div class="row">
  <div class="main-content col-md-9">
    <h4 class="family-sans text-secondary mt-2 mb-4 px-3 px-sm-0">Latest Posts</h4>
    {%- for item in postslist %}
    {% include "items.njk" %}
    {% endfor -%}
  </div>
  <div class="main-sidebar col-md-3">
    <h4 class="text-secondary mt-2 mb-4 px-3 px-sm-0">Latest Courses</h4>
    {% set itemList = courselist %}
    {% for item in itemList %}
    {% include "sidebar.njk" %}
    {% endfor -%}
  </div>
</div>
</article>

