body {
  font-family: 'Open sans', serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased !important;
  color: #666;
}

a {
  color: rgb(20, 90, 109);
}

a:hover {
  color: #E76C5A;
}


.header-background {
  height: 25vh;
  position: relative;
  overflow: hidden;
  background-color: rgba(255,255,255,.5);
}
.background-image {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.btn-primary {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(20, 90, 109);
  border-color: rgb(12, 55, 66);
  font-weight: 700;
}

.btn-primary:hover {
  background-color: rgb(25, 113, 138);
}

.header-background {
  background-attachment: fixed;  
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 25vh;
}

.header-title {
  font-weight: 700;
  font-size: 4rem;
  color: black;
}

.header-info-logo {
  position: relative;
  top: -70px;
  width: 130px;
  height: 130px;
  margin-bottom: -70px;
}

.header-description {
  font-size: 1.8em;
  margin: 3rem auto;
}

img.navbar-logo {
  width: 40px;
}

.navigation-top {
  background: white;
}

.navigation-top .navbar-brand {
  font-weight: 700;
  font-size: 1.7rem;
  color: #666;
}

.navigation-top .navbar-nav .nav-link {
  font-size: 1.2rem;
  color: #E76C5A;
  font-weight: 700;
}

.navigation-top .navbar-nav .nav-link:hover {
  color: #bf311c;  
}

.icon {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  width: 1em;
  overflow: visible;
  vertical-align: -.125em;  
  text-rendering: auto;
  
}

.icon-lynda {
  background: url('/assets/images/icon-lynda.png') no-repeat center center;
  background-size: contain;
}

.icon-lil {
  background: url('/assets/images/icon-lil.png') no-repeat center center;
  background-size: contain;
}

.item {
  font-size: 1.2em;  
  margin-top: 2.5em;
}

.item-links {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}


.item-meta {
  font-family: "Open Sans";
  font-size: .95rem;
}

.item-links a {
  padding-left: 1em;
}

@media (max-width: 576px) { 
  .item-links a {
    padding-left: 0;
    display: block;
    margin-top: 1rem;
  }
}


.main {
  font-family: 'Merriweather', serif;
  font-weight: 300;  
}

.sidebar {
  border-left: 1px dotted gray;
  font-size: .9rem;
}

.sidebar .item-links a {
  padding-left: 0;
  font-size: 1.2em;
}

.sidebar .sidebar-title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: .5rem;
  color: #bf311c;
}

.sidebar .item-links {
  margin-top: 1em;
}

.sidebar .item-description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
}

.sidebar .item-links a {
  display: block;
  font-weight: 400;
}

.sidebar a {
  color: #666;
}

.sidebar .item {
  font-size: .9rem;
  margin-top: 2rem;  
}

.item:first-child {
  margin-top: 0;
}

.item-title {
  font-family: 'Bree Serif';
  font-weight: 300;
  font-size: 1.7em;
  line-height: 105%;
  margin-bottom: 1em;
}

.sidebar .item-title {
  font-size: 1.5em;
}

.sidebar .item-img {
  margin-bottom: 1em;
}

.page-title {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 2.8em;
  margin-bottom: .8em;
}

.page-content {
  font-size: 1.2em;
}

.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
} 

.page-content p {
  margin-top: 2rem auto;
}

.page-content img {
  max-width: 100%;

}

.page-content iframe, .page-content .embed-responsive {
  margin-bottom: 2rem;
}

@media (min-width: 768px) and (max-width: 979px) { 
  .sidebar .item-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
  }
  .sidebar .item {
    margin-top: 0;  
  }  
  .sidebar .item-meta {
    font-size: .7em;
  }
}

