@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:300,700|Open+Sans:300,700,800);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/*! http://github.com/necolas/normalize.css | https://github.com/shkm/normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body, button, input, select, textarea {
  font-family: sans-serif;
}

a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 75%;
}

blockquote {
  margin: 1em 40px;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
  *overflow: visible;
}

table button, table input {
  *overflow: auto;
}

button, html input[type="button"], html input[type="reset"], html input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

/* 
  Darkly Pygments Theme
  (c) 2014 Sourcey
  http://sourcey.com
*/
.highlight {
  font-size: 1.4rem;
  overflow: auto;
  border-radius: 10px;
  padding: 0 10px;
  background: #343642;
  color: #C1C2C3;
  line-height: 110%;
}

.highlight .hll {
  background-color: #ffc;
}

.highlight .gd {
  color: #2e3436;
  background-color: #0e1416;
}

.highlight .gr {
  color: #eeeeec;
  background-color: #c00;
}

.highlight .gi {
  color: #babdb6;
  background-color: #1f2b2d;
}

.highlight .go {
  color: #2c3032;
  background-color: #2c3032;
}

.highlight .kt {
  color: #e3e7df;
}

.highlight .ni {
  color: #888a85;
}

.highlight .c, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #8D9684;
}

.highlight .err, .highlight .g, .highlight .l, .highlight .n, .highlight .x, .highlight .p, .highlight .ge,
.highlight .gp, .highlight .gs, .highlight .gt, .highlight .ld, .highlight .s, .highlight .nc, .highlight .nd,
.highlight .ne, .highlight .nl, .highlight .nn, .highlight .nx, .highlight .py, .highlight .ow, .highlight .w, .highlight .sb,
.highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr,
.highlight .s1, .highlight .ss, .highlight .bp {
  color: #C1C2C3;
}

.highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr,
.highlight .nt {
  color: #729fcf;
}

.highlight .cp, .highlight .gh, .highlight .gu, .highlight .na, .highlight .nf {
  color: #E9A94B;
}

.highlight .m, .highlight .nb, .highlight .no, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo,
.highlight .il {
  color: #8ae234;
}

.highlight .o {
  color: #989DAA;
}

.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #fff;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased !important;
}

body {
  font-family: Merriweather, serif;
  font-size: 14px;
  font-size: 2rem;
  line-height: 170%;
  font-weight: 300;
  color: #666;
}

a {
  color: #586D74;
  text-decoration: none;
}
a:hover {
  color: #bf311c;
}
a:visited {
  color: #bf311c;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.affix {
  position: fixed;
}

.content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #bf311c;
}
.content h2 {
  font-size: 3.5rem;
  font-family: "Bree Serif", serif;
  padding-bottom: 3px;
  margin-bottom: 10px;
  color: #1c7e98;
}
.content h3 {
  margin-top: 0;
  font-size: 2.5rem;
}
.content h4 {
  font-weight: bold;
}
.content strong {
  color: #24a1c3;
}
.content img {
  width: 100%;
}
.content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 20px;
}
.content ul li {
  font-size: 1.6rem;
  line-height: 140%;
}
.content ul li a {
  text-decoration: underline;
}
.content a {
  color: #145a6d;
  text-decoration: none;
}
.content a:hover {
  color: #bf311c;
}
.content hr {
  border: none;
  margin: 100px 0;
}
@media (max-width: 800px) {
  .content {
    padding: 0 1%;
    font-size: 2rem;
    line-height: 140%;
  }
}

.links {
  margin-bottom: 8px;
}

.custom-links {
  display: inline-block;
  padding: 0 16px 0 0;
  font-size: 1.7rem;
}
.custom-links a {
  text-decoration: none;
  display: inline-block;
  padding: 0 15px;
  color: #E76C5A;
}
footer .custom-links a {
  font-size: 1.2rem;
  padding: 0 8px;
}
@media (max-width: 800px) {
  footer .custom-links a {
    font-size: 1.7rem;
    padding: 0 15px;
  }
}
@media (max-width: 400px) {
  footer .custom-links a {
    font-size: 1.7rem;
    padding: 0 8px;
  }
}
.custom-links a:hover {
  color: #bf311c;
}

.pagination {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}
.pagination a {
  color: #1c7e98;
}
.pagination a:hover {
  color: #bf311c;
}
.pagination .page-number {
  display: inline-block;
  padding: 0 10px;
  font-size: 1.2rem;
  top: -20rem;
  vertical-align: top;
}

.tags {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 120%;
  margin: 5px 0;
  padding: 0;
}
.tags h3 {
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  float: left;
  margin-right: 5px;
}
.tags h3:after {
  content: ":";
}
.tags ul {
  margin: 0;
  padding: 0;
}
.tags ul:after {
  content: "";
  display: table;
  clear: both;
}
.tags li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0 5px;
}
.tags li:first-child {
  padding-left: 0;
}
.tags li:last-child {
  border-right: none;
  padding-right: 0;
}
@media (max-width: 800px) {
  .tags {
    display: none;
  }
}

.category {
  font-weight: bold;
}
.category a {
  color: #bf311c;
}
.category a i {
  color: #586D74;
}
.category:after {
  content: " | ";
}

table {
  font-family: "Open Sans", sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

td, th {
  padding: 0;
}

table {
  background-color: transparent;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}

th {
  text-align: left;
  color: #1c7e98;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

table > tbody + tbody {
  border-top: 2px solid #dddddd;
}

table > tbody > tr:nth-of-type(odd) {
  background-color: #fdf8ea;
}

table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}

table > tbody > tr:hover {
  background-color: #f7e6b3;
}

tbody {
  font-size: 1.8rem;
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }

  .table-responsive > .table {
    margin-bottom: 0;
  }

  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
}
.header {
  position: relative;
  color: #fff;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 0.8em;
  line-height: 130%;
  position: relative;
  bottom: 16px;
  overflow: hidden;
  background: linear-gradient(to bottom right, rgba(209, 67, 72, 0.5), rgba(114, 166, 92, 0.9));
}
.about .header {
  min-height: 50vh;
}
.default .header {
  text-align: center;
  height: 200px;
  top: 0;
  left: 0;
  right: 0;
}
@media (max-width: 800px) {
  .default .header {
    height: 100px;
  }
}
.home .header {
  height: 25vh;
  min-height: 150px;
}
.header .custom-links {
  padding: 10px 0;
}
.header .header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
}

.header-info {
  margin: 0 auto;
  position: relative;
  opacity: 1;
}
@media (max-width: 800px) {
  .header-info {
    margin-left: 25%;
    width: 70%;
    transform: translate(0, 0);
  }
}
.header-info a.header-logo {
  display: block;
  background-size: cover;
  border-radius: 100%;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  border: 6px solid white;
}
.default .header-info {
  top: -60px;
  bottom: 0;
}
@media (max-width: 800px) {
  .default .header-info {
    margin-left: 0;
    width: 100%;
  }
  .default .header-info a.header-logo {
    width: 90px;
    height: 90px;
    border: 7px solid white;
  }
}
.post .header-info {
  padding-bottom: 60px;
  max-width: 700px;
  padding-top: 60px;
}
@media (max-width: 800px) {
  .post .header-info {
    margin-left: 100px;
    width: 480px;
  }
}
@media (max-width: 600px) {
  .post .header-info {
    margin-left: 20px;
    width: 400px;
  }
}
@media (max-width: 800px) {
  .header-info .post-text-group {
    display: none;
  }
}
@media (max-width: 800px) {
  .header-info .header-category {
    display: none;
  }
}
@media (max-width: 800px) {
  .header-info .header-published {
    display: none;
  }
}
.header-info .header-description:after {
  content: "";
  display: table;
  clear: both;
}
.default .header-info .header-description {
  text-align: center;
  font-size: 1.8rem;
  max-width: 540px;
  margin: 0 auto;
  line-height: 1.5;
  color: #666;
  font-weight: 300;
}
@media (max-width: 800px) {
  .default .header-info .header-description {
    display: none;
  }
}
.header-info .header-title {
  font-family: "Open Sans", sans-serif;
  color: #FFCF4E;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 5.5rem;
  line-height: 100%;
  margin-bottom: 8px;
}
@media (max-width: 800px) {
  .header-info .header-title {
    font-size: 3rem;
  }
}
.default .header-info .header-title {
  text-align: center;
  color: #333;
  font-weight: 700;
}
@media (max-width: 800px) {
  .default .header-info .header-title {
    letter-spacing: -2px;
  }
}
.header-info .header-tagline {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 2.2rem;
  margin-top: 0;
  float: left;
}
.header-info .author-image {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-right: 8px;
  float: left;
  background-size: cover;
  border-radius: 100%;
}
.header-info .author-name {
  padding-top: 5px;
  font-weight: 700;
}
.header-info .author-name a {
  text-decoration: none;
  color: #f7e6b3;
}
.header-info .category a {
  color: #f3d784;
}
.header-info .category a i {
  color: white;
}

.pageid {
  font-family: "Open Sans", sans-serif;
  color: #1c7e98;
  letter-spacing: -2px;
  text-align: center;
  font-size: 4rem;
  line-height: 3rem;
  margin-bottom: 5px;
  padding-left: 10px;
}
.pageid:before {
  content: " | ";
}

.site-footer {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 110%;
  margin: 0 auto;
  width: 100%;
  color: #999;
}
.site-footer .bottom-info {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 30px 0;
  border: 0px solid #24a1c3;
}
.site-footer .bottom-info:after {
  content: "";
  display: table;
  clear: both;
}
.site-footer .bottom-info .author-info {
  float: left;
  width: 40%;
}
@media (max-width: 700px) {
  .site-footer .bottom-info .author-info {
    font-size: 1.5em;
    line-height: 130%;
    width: 100%;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.site-footer .bottom-info .credits {
  width: 60%;
}
@media (max-width: 700px) {
  .site-footer .bottom-info .credits {
    width: 100%;
    padding-bottom: 32px;
  }
}
.site-footer .bottom-info .author-headline {
  border-bottom: 1px dotted #ddd;
  margin-bottom: 10px;
  color: #99A6A6;
}
.site-footer .bottom-info .author-image {
  display: inline-block;
  width: 60px;
  height: 60px;
  float: left;
  background-size: cover;
  border-radius: 100%;
  margin-right: 2%;
}
.site-footer .bottom-info .author-text {
  float: left;
  width: 80%;
  line-height: 120%;
}
.site-footer .bottom-info .author-name {
  font-size: 1.3em;
  padding-bottom: 5px;
  color: #A41522;
}
.site-footer .bottom-info .author-bio.published {
  color: #999;
}
.site-footer .footer-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.navgroup {
  margin-bottom: 0;
  padding-left: 1%;
  padding-right: 1%;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  .navgroup .header-tagline {
    display: none;
  }
}

.main {
  display: table;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.main:after {
  content: "";
  display: table;
  clear: both;
}
.default .main .navwrapper {
  text-align: right;
  margin: 0 auto;
}
.main ul {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}
.main ul:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 600px) {
  .main ul {
    float: none;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.main ul li {
  font-size: 1.8rem;
  float: left;
  border-right: 1px dotted #e9b928;
}
.main ul li.active a {
  color: #145a6d;
}
.main ul li:last-child {
  border-right: none;
}
.main ul li a {
  color: #E76C5A;
  padding: 4px 6px;
}
.main ul li a:hover {
  background: #f7e6b3;
  color: #e1442d;
}
.main ul li a .fa-home {
  padding-right: 6px;
}

.sitesearch {
  position: relative;
  float: left;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .sitesearch {
    width: 100%;
  }
}
.sitesearch .searchbox {
  border-radius: 20px;
  padding-right: 20px;
  border: 1px solid #c5d0d3;
  outline: none;
  box-shadow: none;
}
.sitesearch .searchbox i {
  color: #1c7e98;
}
.sitesearch .searchbox input {
  width: 80px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: right;
  border: 0;
  background: transparent;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .sitesearch .searchbox input {
    width: 85%;
  }
}
.sitesearch .searchbox input:focus {
  outline-width: 0;
  outline: none;
}
@media only screen and (min-width: 601px) and (max-width: 30000px) {
  .sitesearch .searchbox input:focus {
    width: 120px;
  }
}
.sitesearch .search-results {
  z-index: 20;
  background: #f7e6b3;
  text-align: left;
  line-height: 120%;
}
.sitesearch .search-results:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 601px) and (max-width: 30000px) {
  .sitesearch .search-results {
    width: 500px;
    left: -350px;
    position: absolute;
    border-radius: 20px 0 20px 20px;
  }
}
.sitesearch .search-results ul {
  margin: 0;
}
.sitesearch .search-results ul li {
  padding: 20px;
  border-right: 0;
  margin-right: 0 !important;
}
.sitesearch .search-results ul li:hover {
  background: #f0d06d;
}
.sitesearch .search-results ul li a {
  padding: 0 !important;
}
.sitesearch .search-results img {
  width: 20%;
  display: block;
  margin-right: 2%;
  float: left;
  border-radius: 10px;
}
.sitesearch .search-results .info {
  width: 78%;
  float: left;
}
.sitesearch .search-results h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.sitesearch .search-results p {
  padding: 0;
  margin: 0;
  font-weight: normal;
  color: black;
  font-size: 16px;
}

@media only screen and (min-width: 900px) and (max-width: 30000px) {
  .floating-logo {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    z-index: 200;
    opacity: 0.9;
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%;
  }
  .floating-logo .logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 900px) and (max-width: 30000px) {
  .floating-logo {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    z-index: 200;
    opacity: 0.9;
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%;
  }
  .floating-logo .logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.breadcrumbs {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  display: table;
  margin: 0 auto;
}
.breadcrumbs:after {
  content: "";
  display: table;
  clear: both;
}
.breadcrumbs ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.breadcrumbs ol li {
  float: left;
}
.breadcrumbs ol li:last-child:after {
  content: none;
}
.breadcrumbs ol li:after {
  content: " » ";
  padding: 5px;
}
.breadcrumbs ol li a {
  color: #1c7e98;
  font-weight: bold;
}

.post-links {
  margin-top: 10px;
}
.post-links ul {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 20px;
  list-style-type: none;
}
.post-links ul:after {
  content: "";
  display: table;
  clear: both;
}
.post-links ul li {
  float: left;
  padding-right: 15px;
  line-height: 140%;
  font-size: 1.6rem;
}
@media (max-width: 600px) {
  .post-links ul li {
    font-size: 1.9rem;
    width: 100%;
    line-height: 200%;
    padding-right: 0;
  }
}
.post-links ul li a {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.post-links ul li a i {
  color: #E76C5A;
}
@media (max-width: 600px) {
  .post-links ul li a i {
    display: inline-block;
    width: 25px;
    text-align: center;
  }
}

.post-video {
  padding-bottom: 50px;
}
.post-video .video {
  width: 100%;
  height: 400px;
}
@media (max-width: 800px) {
  .post-video .video {
    height: 275px;
  }
}

.post-item {
  padding: 20px 5%;
}
.post-item:first-child {
  padding-top: 0;
}
@media (max-width: 600px) {
  .post-item {
    padding: 10px;
  }
  .post-item:first-child {
    margin-top: -40px;
  }
}
.post-item .post-title {
  font-family: "Bree Serif", serif;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 105%;
}
.post-item .post-title a {
  color: #145A6D;
  text-decoration: none;
}
.post-item .post-title a:hover {
  color: #bf311c;
}
.post-item .post-description {
  font-size: 1.9rem;
  line-height: 150%;
  margin-top: 10px;
}
.post-item .post-description:after {
  content: "";
  display: table;
  clear: both;
}
.post-item .list-thumb {
  display: block;
  float: left;
  width: 30%;
  min-width: 160px;
  margin-right: 2%;
  border-radius: 10px;
}

.post-meta {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 120%;
}
.post-meta:after {
  content: "";
  display: table;
  clear: both;
}

.post-date {
  color: #586D74;
  font-weight: bold;
}
