---
---
<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
  <body class="default home">
 
<header class="header">
  <div class="header-background" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}></div>
  <section class="header-info">
    {% if site.logo %}
      <a class="header-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')"></a>
    {% endif %}
    <h1 class="header-title">{{ site.author.name }}</h1>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="social-icon icon-{{ social.icon }}" href="{{ social.url }}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
        {% endif %}
      {% endfor %}
    </div><!-- post-text-group -->
    {% include categorynav.html %}
  </section><!-- header-info -->
</header>

<main class="content">
 {{ content }}
</main>

{% include scriptloader.html %}
</body>
</html>
