---
---
<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">

        <div class="article-image">
          <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
            Article Image
          </div>
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
              <div class="author-image" style="background-image: url({{ site.author_image }})">Blog Logo</div>
              <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ site.author }}</h4>
            </div>
          </div>
        </div>

        <section class="post-content">
          {{content}}
        </section>

      </article>
    </main>
    <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}></div>
    {% include javascripts.html %}
  </body>
</html>
