---
---
<!DOCTYPE html>
<html>
  {% include head.html %}

  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}

    <main class="content" role="main">
      <article class="post">


        {% for course in site.data.courselist %}
        {% if course.ID == page.courseid %}

        <!-- Course Information -->

        {% if course.Thumbnails %}
          <div class="article-image">
            <div class="post-image-image" style="background-image: url({% if course.Thumbnails[17].FullURL %}{{ course.Thumbnails[17].FullURL }}{% endif %})">
              Article Image
            </div><!-- post-image-image -->
            <div class="post-meta">
              <h1 class="post-title">{{ course.Title }}</h1>
              <div class="cf post-meta-text">
                {{ course.ShortDescription }}
                <div class="author-image" style="background-image: url({{ site.author_image }})">Blog Logo</div>
                <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ site.author }}</h4>
                on <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time>
                , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}
              </div><!-- cf post-meta-text -->
              <div class="gototop">
                <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
              </div><!-- gototop -->
            </div><!-- post-meta -->
          </div>
        {% else %}
          <div class="noarticleimage">
            <div class="post-meta">
              <h1 class="post-title">{{ course.Title }}</h1>
              {{ course.ShortDescription }}
              <time datetime="{{ course.DateReleasedUtc | date_to_xmlschema }}">{{ course.DateReleasedUtc | date_to_string }}</time>
                <!-- , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
              <div class="cf post-meta-text">
                <div class="author-image" style="background-image: url({{ site.author_image }})">Blog Logo</div>
                <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ course.Authors[0].Fullname }}</h4>
                on
              </div><!-- post-meta-text -->
            </div><!-- post-meta -->
          </div><!-- noarticleimage -->
        {% endif %}


        <!-- post-content -->
        <section class="post-content">
          <div class="post-reading"><span class="post-reading-time"></span> read</div>
          <a name="topofpage"></a>


          <div class="custom-links">
            {% for items in post.links %}
            {% if social.github %}
            <a class="icon-github" href="{{ social.url }}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% endfor %}
          </div>



          <iframe width='560' height='315' src='https://www.lynda.com/player/embed/{{ course.ID }}?fs=3&w=560&h=315&ps=paused&utm_medium=referral&utm_source=embed+video' mozallowfullscreen='true' webkitallowfullscreen='true' allowfullscreen='true' frameborder='0'></iframe>

          <p>{{ course.Description }}</p>

          {{ content }}

        </section><!-- post-content -->



        <!-- Course Information -->
        {% endif %}
        {% endfor %}


        <!-- post-footer -->
        <footer class="post-footer">
          <section class="share">


            <div class="custom-links">
              <strong>social: </strong>
              {% for social in site.social %}
              {% if social.url %}
              <a class="icon-{{ social.icon }}" href="{{ social.url }}">
                <i class="fa fa-{{ social.icon }}"></i>
              </a>
              &nbsp;&nbsp;
              {% endif %}
              {% endfor %}
            </div>


          </section>
        </footer>


        <!-- bottom-teaser -->
        <div class="bottom-teaser cf">

          <!-- Author Credits -->
          <div class="isLeft">
            <h5 class="index-headline featured"><span>Written by</span></h5>
            <section class="author">
              <div class="author-image" style="background-image: url({{site.author_image}})">Blog Logo</div>
              <h4>{{ site.author }}</h4>
              <p class="bio">{{author.bio}}</p>
              <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
            </section>
          </div><!-- class="isLeft" -->
          {{/post}}

          <!-- Social -->

        </div><!-- bottom-teaser -->

      </article><!-- article class="post" -->
    </main><!-- main class="content" -->


    <!-- bottom-closer -->
    <div class="bottom-closer">
      <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}>
        Image
      </div><!-- background-closer-image -->
      <div class="inner">
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <a href="/" class="btn">Back to Overview</a>
      </div><!-- inner -->
    </div><!-- bottom-closer -->
    {% include javascripts.html %}
  </body>
</html>
