---
---
<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body class="post">

<!-- Course Information -->
{% for course in site.data.courselist %}
{% if course.ID == page.courseid %}

<header>
  <div class="header-background" style="background-image: url({% if course.Thumbnails[17].FullURL %}{{ course.Thumbnails[17].FullURL }}{% endif %})"></div>
  <section class="post-meta">
    {% include header.html %}
    <h1 class="post-title">{{ course.Title }}</h1>
    <div class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></div>
    <div class="cf post-text">
    {{ course.ShortDescription }}
      <div class="author-image" style="background-image: url({{ site.author_image }})"></div>
      <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ site.author.name }}</h4>
      on <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time>
    </div><!-- cf post-meta-text -->
  </section><!-- post-meta -->
</header>

<main class="content" role="main">
  <div class="custom-links">
    {% for items in post.links %}
    {% if social.github %}
    <a class="icon-github" href="{{ social.url }}">
      <i class="fa fa-{{ social.icon }}"></i>
    </a>
    {% endif %}
    {% endfor %}
  </div><!-- custom-links -->

  <div class="video"><iframe width='560' height='315' src='https://www.lynda.com/player/embed/{{ course.WelcomeVideoId }}?fs=3&w=560&h=315&ps=paused&utm_medium=referral&utm_source=embed+video&utm_campaign=ldc-website&utm_content=vid-{{ course.WelcomeVideoId }}' mozallowfullscreen='true' webkitallowfullscreen='true' allowfullscreen='true' frameborder='0'></iframe></div>
  <div class="course-description">{{ course.Description }}</div>
  <div class="content">{{ content }}</div>
</section><!-- post-content -->
</main><!-- main class="content" -->

<footer class="site-footer">
  <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}></div>
  {% include footer.html %}
</footer>

{% endif %} 
{% endfor %} 
<!-- Course Information -->


{% include javascripts.html %}
</body>
</html>
