---
layout: default
page_id: courses
cover: /assets/images/videos.jpg
summary: Online courses at Lynda.com from instructor Ray Villalobos
---
<div class="container">
  <div class="row">
    <main class="main col-12 col-md-9">
      <div class="main-items">
        {% assign sorted_items = site.data.courses | sort: 'date' | reverse %}
        {% for item in sorted_items %}
          {% assign itemIndex = forloop.index %}
          {% include items_main.html %}
        {% endfor %}
      </div>
    </main>
    <sidebar class="sidebar col-md-3 d-none d-md-block">
      <div class="sidebar-title">Latest Articles</div>
      <div class="sidebar-items">
        {% assign sorted_items = site.posts | sort: 'date' | reverse %}
        {% for item in sorted_items limit: 30 %}
          {% assign itemIndex = forloop.index %}
          {% include items_sidebar.html %}
        {% endfor %}
      </div>
      <a href="/blog" class="sidebar-link btn btn-primary mt-5 text-white">more articles</a>
    </sidebar>
  </div>
</div>