---
layout: default
page_id: courses
cover: /assets/images/videos.jpg
summary: Online courses at Lynda.com from instructor Ray Villalobos
---
<main class="post-list content" role="main">
    {% for post in site.categories.courses %}
    <article class="post-item">
      <div class="post-meta">
        <span class="post-date">
        {% if post.conference_date %}
          {{post.conference_date}}
        {% else %}
          {{ post.date | date: '%B %-d, %Y' }}
        {% endif %}
        </span>
      </div><!-- post-meta -->
      {% if post.courseid %}
        {% for course in site.data.courselist %}
          {% if course.ID == post.courseid %}
            <h2 class="post-title"><a href="{{ post.url }}">{{ course.Title }}</a></h2>
            <section class="post-description">
              <a href="{{ post.url }}"><img class="list-thumb" src="{{ course.Thumbnails[0].FullURL }}" alt="Thumbnail for {{ course.Title }}"></a><span class="list-description">{{ course.ShortDescription | strip_html | truncatewords: 50 }}</span>
            </section>
            {% include post_links.html %}
          {% endif %}
        {% endfor %}
      {% else %}
        <h2 class="post-title"><a href="{{ post.url }}">{{ post.Title }}</a></h2>
        <section class="post-description">
          <a href="{{ post.url }}"><img class="list-thumb" src="{{ post.heroimage }}" alt="{{ course.Title }} thumbnail"></a><span class="list-description">{{ post.summary | strip_html | truncatewords: 50 }}</span>
        </section>
      {% include post_links.html %}
      {% endif %}<!-- Is it a course or something else -->
      </article>
    {% endfor %}

    {% if paginator.next_page %}
    <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href="/page{{paginator.next_page}}"><i class="fa fa-arrow-circle-o-left"></i></a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href="/"><i class="fa fa-arrow-circle-o-right"></i></a>
        {% else %}
          <a class="older-posts" href="/page{{paginator.previous_page}}"><i class="fa fa-arrow-circle-o-right"></i></a>
        {% endif %}
      {% endif %}
    </nav>
    {% endif %}
</main>